@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.smooth-link {
    display: block;
    width: auto;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.3s ease, width 0.3s ease;

}

.smooth-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s ease;
    transform: translateZ(0);
}

.smooth-link:hover::before {
    width: 10rem;
    background-color: #f472b6;
    z-index: -1;
}

.smooth-link:hover {
    transform: skewX(3deg) translateX(2px);
}